<div class="header">
    <div class="container">
    	<div class="logo">
    	<%= link_to image_tag("HeaderTwo.jpg", :alt => "header"), root_url , class:"active" %>
    	</div>
    	<div>
         <ul>
         		<% if user_signed_in? %>
					<li id="linki"><%= link_to "Add", new_restaurant_path, class:"active"%></li>
					<li id="linki"><%= link_to "Account", edit_user_registration_path%></li>
					<%else%>
					<li id="linki"><%= link_to "Sign Up", new_user_registration_path, class:"active"%></li>
					<li id="linki"><%= link_to "Sign In", new_user_session_path, class:"active"%></li>
					<%end%>

         </ul>
    	</div>
    </div>

</div>

<style>
#linki{
	font-family: 'Young & Beautiful';
	font-weight: bold;
	font-size: 150%;
	color: #f6b2df;
}
#linki a {
  
}
.header{
	background:#50d3c5;
	width: 100%;
	top:0;
	position: fixed;
}
.logo{
	float: left;
}
li {
	list-style: none;
	
	float: right;
	margin-left: 10px;     
	padding-top: 60px;
	padding-right: 100px;
}
.nav{
	 float: right;
}
</style>